body{
	font-size:16px;
}
.form-group {
	border: 0px #666 solid;
}
.MG_QUESTION {
	padding-top: 15px;
	border-top: 1px #ccc solid;
}
.MG_SECTION {
	padding: 20px;
	background-color: #FCF8F2;
	border-left: 3px solid #F0AD4E;
	color: #F0AD4E;
	font-size: 18px;
}
.MG_SECTION_PART {
	margin-top: 20px;
	padding: 10px 0px 10px 20px;
	background-color: #F4F8FA;
	border-left: 3px solid #5BC0DE;
	color: #999;
}
.MG_TEXT {
}
.MG_TEXT_BOLD {
	font-weight: bold;
}
.MG_SELECT {
	font-weight: normal;
}
.MG_SELECT_OPTIONS {
}
.MG_CHECKBOX {
	text-align: left !important;
	font-weight: normal;
}
.MG_INPUT_TEXT {
	font-weight: normal;
}
.MG_INPUT_TEXT_BOX {
}
.MG_INPUT_TEXT_BOX textarea {
	resize: none;
}
.MG_EXTRA_FIELD {
	display: none;
	margin-top: 5px;
	padding: 0px;
}
.MG_BUTTON_PANEL {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}
#surveyTitle {
	text-align: center;
	font-weight: bold;
	font-family :  "微軟正黑體", "新細明體", "Times New Roman", Times, serif;
}
#main {
	margin-top: 20px;
}
#thanksMessage {
	display: none;
}
#overlay {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#overlay table {
	width: 100%;
	height: 100%;
	text-align: center;
}
#overlay img {
	width: 75px;
}
.placeholder {
	color: #aaa;
}

@media (min-width: 768px) {
	.MG_SELECT {
		text-align: inherit !important;
	}
	.MG_INPUT_TEXT {
		text-align: inherit !important;
	}
}

.qHideWrap{
    display:none;
}
.sorting_item{
background: #eee !important;
list-style-type: none;
margin: 5px;
padding: 5px;
cursor: pointer;
    
}
.handle{
    width:30px;
}
.has-error .sortable{
   border: solid 1px #a94442;
}
.sortableRes{
    display:none;
}
h1.ThanksMessage{
    text-align: center;
margin-top: 100px;
}

.logo{
    text-align: center;
}
.sortable{
padding:5px 3px;
width: 230px;
background: #ddd;
}